body {

    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f9;

}

.navbar{
    display: flex;
    justify-content: space-between;
    background: #2d3436;
    padding: 1rem 2rem;
    color: white;

}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 1rem;

}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.container{
    max-width:1000px;
    margin: auto;
    padding: 2rem;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 2fr));
    gap: 1.5rem;
}

.card{
    background: white;
    padding: 1rem;
    border-radius:12px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card img{
    max-width:100%;
    border-radius: 8px;
}

.btn{
    display: inline-block;
    background: #0984e3;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover{
    background: #74b9ff;
}

.product-detail{
    display: flex;
    gap: 2rem;
    align-items: center;
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.product-detail img{
    max-width:300px;
    border-radius: 12px;
}

.price{
    font-size: 1.5rem;
    color: #2d3436;
    margin: 1rem 0;
}

.card-items{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart-card{
    display: flex;
    align-items: center;
    background: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.cart-card img{
    max-width: 100px;
    border-radius: 8px;
    margin-right: 1rem;
}

.total{
    text-align: right;
    margin-top: 2rem;
}

.remove-btn{
    background: #d63031;
    margin-top: 0.5rem;
}

.remove-btn:hover{
    background: #ff7675;
}













